body {
	font-family: Arial;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h2{
	margin: 0 1em 1em;
}

header {
	background: #ddd;
}
header nav {
	background: #CACACA;
	padding: 0.5em;
	position: relative;
}
header nav li {
	display: inline-block;
	padding: 0.5em 1em;
}
nav li + li {
	border-left: solid 1px #fff;
}
nav a {
	color: #007FB2;
}
nav a:hover {
	color: #504833;
}
nav a:hover + .sub-menu {
	max-height: 10em;
}

.sub-menu {
	background: #621B4B;
	max-height: 0;
	left: 0;
	overflow: hidden;
	position:absolute;
	top: 100%;
	-webkit-transition: max-height 0.5s;
	width: 100%;
}

#map-container{
	float: left;
}
.ohio {
	fill: #D1D3D4;
}
.main {
	fill: #0073B0;
}
.easement {
	fill: #9E3039;
}
.news {
	fill: #D47600;
}

#categories {
	float: right;
	width: 30vw;
}
.category {
	color: #fff;
	display: block;
	padding: 1em 0 0;
}
.item-list {
	background: rgba(255,255,255,0.4);
	max-height: 0;
	overflow: hidden;
}
.item-list li {
	margin: 1em 2em;
}
#main{
	background: #0073B0;
}
#easement{
	background: #9E3039
}
#news{
	background: #D47600;
}
#legislation{
	background: #739600;
}